#borda {                
    border: 5px groove rgb(168, 50, 247);
    border-radius: 5px;
    width: 217px;                               
}
td {
    border: 5px groove
    border-radius: 5px;
    background-color: rgb(216, 166, 240);
}